.git
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
*.egg-info
.idea
.env
.pytest_cache
.mypy_cache
.DS_Store

# Можно добавить специфичные для проекта файлы и папки
# например, большие датасеты или папки с результатами экспериментов,
# если они не должны быть частью образа
# experiments/
# data/ 